<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Collection Framewrork/src/com/vaibhu/cf/DateCompare.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.vaibhu.cf.DateCompare"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Collection Framewrork"/>
</launchConfiguration>
