
<table border=1>
  <thead >
    <tr>
    <td>Emp Id</td>
    <td>Name</td>
    <td>Email</td>
    <td>Phone</td>
    <td>Salary</td>
  
    <td>Appraisal Rating</td>
   </tr>
  </thead>
  <tbody>
    <tr  *ngIf="employees.length==0" >
        <td colspan="7">
          No Records Found...
        </td> 
     </tr>  

     <tr *ngFor="let emp of employees">
       <td>{{emp.empId}}</td>
       <td>{{emp.name||uppercase}}</td>
       <td>{{emp.email||uppercase}}</td>
       <td>{{emp.phone}}</td>
       <td>{{emp.salary}}</td>

     
       <td>{{emp.appraisalRating}}</td>
      </tr>
  </tbody>
</table>
