<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"> 

	<bean id="Customer" class="com.vaibhu.spring.question1.Customer">
		<property  name="customerId" value="101"></property>
		<property  name="customerName" value="Vaibhavi"></property>
		<property  name="customerContact" value="789456"></property>
		<property  name="customerAddress" ref="add" ></property>
	</bean>   
	<bean id="add" class="com.vaibhu.spring.question1.Address">
		<property  name="street" value="Mira Road"></property>
		<property  name="city" value="Mumbai"></property>
		<property  name="state" value="Maharashtra"></property>
		<property  name="zip" value="401107"></property>
		<property  name="country" value="India"></property>
	</bean>  
   
   
</beans>